@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
 
.click {
    cursor: pointer;
}
.click:hover {
    opacity: 0.7;
}
.click:before {
    opacity: 0.5;
}