@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
 
.click {
    cursor: pointer;
}
.click:hover {
    opacity: 0.7;
}
.click:hover:active {
    filter: brightness(0.9);
}